# **Stroke Dataset Visualization**

In [3]:
import os
import glob
import pandas as pd
import cv2
import matplotlib.pyplot as plt
from google.colab import drive

In [4]:
working_dir = "/content/drive/MyDrive/KDD Project"

In [5]:
stroke_pf = pd.read_csv(working_dir + '/healthcare-dataset-stroke-data.csv')

Displaying the attributes/labels present in dataset

In [11]:
stroke_pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

Displaying the first 15 rows of dataset

In [12]:
stroke_pf.head(15)

       id  gender   age  ...   bmi   smoking_status stroke
0    9046    Male  67.0  ...  36.6  formerly smoked      1
1   51676  Female  61.0  ...   NaN     never smoked      1
2   31112    Male  80.0  ...  32.5     never smoked      1
3   60182  Female  49.0  ...  34.4           smokes      1
4    1665  Female  79.0  ...  24.0     never smoked      1
5   56669    Male  81.0  ...  29.0  formerly smoked      1
6   53882    Male  74.0  ...  27.4     never smoked      1
7   10434  Female  69.0  ...  22.8     never smoked      1
8   27419  Female  59.0  ...   NaN          Unknown      1
9   60491  Female  78.0  ...  24.2          Unknown      1
10  12109  Female  81.0  ...  29.7     never smoked      1
11  12095  Female  61.0  ...  36.8           smokes      1
12  12175  Female  54.0  ...  27.3           smokes      1
13   8213    Male  78.0  ...   NaN          Unknown      1
14   5317  Female  79.0  ...  28.2     never smoked      1

[15 rows x 12 columns]